<div class="row">
  <div class="col">
    <h2>Liste des enfants</h2>
    <ul class="list-group">
      <li
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let sib of siblings"
        [routerLink]="['/arbres/add/', sib.id]"
      >
        {{ sib.name }} {{ sib.surNom }}
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Ajout d'enfants</h2>
    <app-add-member
      [sibling]="true"
      [parentId]="personne?._id"
      [personne]="personne"
      [peres]="peres"
      [meres]="meres"
      (submitEvent)="ajouterFils($event)"
      (exitEvent)="quitter()"
    ></app-add-member>
  </div>
</div>
