<h3>Details de la personne</h3>

<p>Nom: {{ personne?.name }}</p>

<nav ngbNav #nav="ngbNav" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink>Infos</a>
    <ng-template ngbNavContent>
      <app-infos [personne]="personne" [id]="id"></app-infos>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Parents</a>
    <ng-template ngbNavContent>
      <app-parent [personne]="personne" [id]="id"></app-parent>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Epouse(s)/ Marie(s)</a>
    <ng-template ngbNavContent>
      <app-partner [personne]="personne" [id]="id"></app-partner>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Enfants</a>
    <ng-template ngbNavContent>
      <app-sibling [personne]="personne" [id]="id"></app-sibling>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
